//sass style
//-------------------------------                     
$baseFontSize:      32px !default;


// pixels to rems 
@function pxToRem($px) {
    @return $px / $baseFontSize * 1rem;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td,
header,
img
{
margin: 0;
padding: 0;
font-family: '微软雅黑';
}
.clearfix:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
a{
text-decoration: none;
}
img{
display: block;
}
input{
border: none;
outline: none;
}
li{
list-style: none;
}
html{
font-size: 16px;
/*height: 100%;
overflow: auto;*/
}
body{
    height: 100%;
    overflow-y: auto;
}
*{
    -webkit-tap-highlight-color:transparent;
    -webkit-overflow-scrolling:touch;
}
.demo{
    font-size: 1rem;
    color: #0c3fe9
}